<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.pnc">

    <application>
        <activity
            android:name=".activity.BasePncFormActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.BasePncProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
